<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">AppleStore</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li><a href="#" (click)="onSelect('products')">Products</a></li>
        <li><a href="#" (click)="onSelect('shopping-list')">Shopping List <span class="badge badge-secondary">9</span></a></li>
        <li><a href="#">My Purchases</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Login</a></li>
            <li><a href="#">Logout</a></li>
            <li><a href="#">SingUp</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
